@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Register attendance</h2>

<h1>You're not enrolled in this course, so you can't be registered that you attend the lecture.</h1>
